{% extends "index.html" %}

{% block about %}

<div class="col-sm-3">
  <br>
  <aside style="height:1400px">
    <ul class="tree-view">
      <li>
        <a href="#">Intro</a>
      </li>
      <li><a href="#">The ButtSwap</a>
        <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Reddit</a></li>
          <li><a href="#">TradingView</a>
            <ul>
              <li><a href="#">BitFinex</a></li>
              <li><a href="#">BTC Price</a></li>
              <li><a href="#">Tether Volume</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">API</a>
      </li>
      <li>
        <a href="#">Support</a>
      </li>
    </ul>
  </aside>
</div>

<div class="col-sm-9">
  <br>
  <h3>Intro</h3>
  <hr>
  <p>
    Buttswap is the original. When you are the first ButtSwap on the market, there is a lot of pressure to perform. <br>
    My mother always told me that I would never succeed. <br>
    Look at me now though, it's here.<br>
    <br>
    Our team has data scientists, electronic, producers, digital consumers, UX/UI, and resume building skills. <br>
    This enables us to be elastic, perform, and make KISS daily. <br>
    KISS (Keep It Serverless, Sir) is the design principle that you and I both learned, together. Forget a wet-smooch! <b>Keep it dry.</b> <br>
    <br>
    Obviously this makes us vulnerable to the threats. Some threats are more threats. Some are even more. <br>
    "Threats" is just another way to spell <b><code> 0022 0054 0068 0072 0065 0061 0074 0073 0022 </code></b> which is someOne's middle name. <br>
    Certainly, we must plan for the competitive advantage. Porter house steaks come 5 times a dinner. I come more. <br>
    <br>
    <b>By this point you must be wondering...</b>
  </p>
  <blockquote>
    <h6><i>"How can I install this in Microsoft Dynamics GP 2008?"</i></h6>
  </blockquote>
  <p>
    <b>That is an excellent question. It will be discussed.</b>
  </p>

  <br>
  <h3>The ButtSwap</h3>
  <hr>
  <p>
    The name "The ButtSwap" comes from the popular website name "The Facebook". Because of copyright, our lawyer adviced us to drop the superfulous ending. <br>
    This allowed us leverage the enormous brand awareness the "The" theoretically can bring. Many people have heard of and even used "The", sometimes daily. <br>
    Certainly this may seem amazing, but it is infact the truth. We own the ButtSwap. <b>Exchange your booty. <code>Go to the moon.</code></b>
  </p>


  <br>
  <h3>API</h3>
  <hr>
  <p>
    Buttswap uses lots of API. We need more API, Rockstar, and Substack development Agile remote worldwide developers. <br>
    We contract through the worldwide web internet over TCP/IP, Port 42, multi-tenant, and Truffle commits. <br>
    We prefer analog standards when available for a fair price. <br>
    Please reach us if you know how!.😋
  </p>

  <br>
  <h3>Support</h3>
  <hr>
  <p>
    We offer regular, premium, gold, diet, decaffinated, and garlic support. <br>
    If you need spiritual support please contact our sales team. <br>
    All other support must be registered via pay-phone.
  </p>

</div>

{% endblock %}
